* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    max-height: 100vh;

    
}

h1 {
    text-align: center;
}


.mainDiv {
    display: flex;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;
    max-width: 960px;

}

.vertDiv {
    flex: 1 1 auto;

    display: flex;
    justify-content: space-between;   
    
}

.horiDiv {
    flex: 1 0 auto;
    
    aspect-ratio: 1/1;

    border: 0.5px solid black;  
}

#colorSelection {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;

    gap: 20px;
}

button {
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    flex: 0.5 0 0;
}

#newCanvas {
    display: flex;
    justify-content: space-around;

    padding-bottom: 20px;
}

#newCanvas > button {
    background-color: lightblue;
    color: black;

}

.redButton {
    background-color: red;
}

.blueButton {
    background-color: blue;
}

.greenButton {
    background-color: green;
}

.hovered-red {
    background-color: red;
}

.hovered-blue {
    background-color: blue;
}

.hovered-green {
    background-color: green;
}

.hovered-black {
    background-color: black;
}
